@import 'colors';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

h2 {
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}
h1 {
    margin: 0;
    font-weight: 800;
    font-size: 36px;
}

