@import 'variables';
@import 'mixins';
@import "fonts";
@import 'typography';
@import 'colors';
$navbarh: 2.5rem;

.nav {
    z-index: 100;
    height: $navbarh;
    background-color: transparent;
    position: fixed;
    width: 100%;
    
    .nav-container {
        display: flex;
        align-items: center;
        .nav-left {
            margin-right: auto;
        }
        .nav-right {
            align-items: center;
            display: flex;
            gap: 1rem;
        }
    }
}


.content {
    padding-top: $navbarh;
}
.logo {
    font-weight: 800;
    font-size: 20px;
    @include breakpoint(sm, min) {
        font-size: 24px;
    }
    color: $primary;
    &:hover {
        cursor: pointer;
    }
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: inherit;
    @include breakpoint(sm, min) {
        font-size: 18px;
    }
    &:hover {
        cursor: pointer;
        border-bottom: 2px solid $primary-light;
    }
}

.btn {
    text-decoration: none;
    display: flex;
    align-items: top;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    background-color: $primary;
    color: $text-alt;
    font-weight: 700;
    &:hover {
        cursor: pointer;
        background-color: $primary-light;
        box-shadow: 3px 3px $shadow;
        outline: 1px solid $bg;
    }
    @include breakpoint(sm, min) {
        font-size: 18px;
    }
}

.hero-section {
    .img-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        display: none;
        @include breakpoint(sm, min) {
            display: block;
        }
    }
    min-height: 90vh;
    .hero-content {
        position: relative;
        height: 90vh;
        .title {
            .title-text {
                margin-top: 0;
                margin-bottom: 0;
                margin-right: auto;
                font-size: 36px;
                color: $text-alt;
                text-shadow: 3px 3px $primary;
                @include breakpoint(sm, min) {
                    font-size: 48px;
                }
                @include breakpoint(lg, min) {
                    font-size: 62px;
                }
            }
            @include breakpoint(sm, min) {
                padding-top: 1rem;
            }
            @include breakpoint(md, min) {
                padding-top: 3rem;
            }
        }
        .hero-background {
            .svg-orator {
                position: absolute;
                right: 0;
                bottom: 0rem;
                height: 66vh;
            }
            
        }
    }
}


.featured-section {
    background-color: $primary;
    padding-top: 4rem;
    padding-bottom: 4rem;
    .project-grid {
        display: grid;
        gap: 3rem;
        grid-template-rows: 1fr 1fr 1fr;
        @include breakpoint(md, min) {
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        }
        
    }
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(md, min) {
        align-items: flex-start;
    }
    .project {
        position: relative;
        display: flex;
        border-radius: 7px;
        .img-cover {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            width: 100%;
            height: 100%;
            border-radius: 7px;
            transition: background-color ease-in-out 0.2s;
            .img-desc {
                display: none;
            }
        }
        .project-img {
            width: 100%;
            height: 100%;
            border-radius: 7px;
        }
        &:hover {
            cursor: pointer;
            box-shadow: 2px 2px 6px $shadow;
        }
        &:hover .img-cover {
            background-color: $shadow;
        }
        &:hover .img-desc {
            display: flex;
        }
    }
    .project-title {
        color: $text-alt;
        margin: 0.5rem 0.25rem;
    }
    
}


.margin-h {
    margin-left: 1rem;
    margin-right: 1rem;
    @include breakpoint(sm, min) {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    @include breakpoint(md, min) {
        margin-left: 10%;
        margin-right: 10%;
    }
    @include breakpoint(xl, min) {
        margin-left: 20%;
        margin-right: 20%;
    }
}

.margin-h-m {
    margin-left: 1rem;
    margin-right: 1rem;
    @include breakpoint(sm, min) {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

.padding-h {
    padding-left: 1rem;
    padding-right: 1rem;
    @include breakpoint(sm, min) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    @include breakpoint(md, min) {
        padding-left: 10%;
        padding-right: 10%;
    }
    @include breakpoint(xl, min) {
        padding-left: 20%;
        padding-right: 20%;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    .footer-top {
        min-height: 10rem;
        background-color: $primary;
    }
    .footer-bot {
        background-color: $primary-dark;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}