@import 'variables';
@import 'mixins';
@import "fonts";
@import 'typography';
@import 'colors';
$navbarh: 2.5rem;

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.nav {
    z-index: 100;
    position: fixed;
    width: 100%;
    color: $text-alt;
    transition: background-color ease-in-out 0.2s;
    .nav-container {
        height: $navbarh;
        display: flex;
        align-items: center;
        padding: 0.25rem 0;
        .nav-left {
            margin-right: auto;
        }
        .nav-right {
            align-items: center;
            display: flex;
            gap: 1rem;
        }
    }
}

.scroll {
    background-color: $bg;
    color: $text;
}


.content {
    padding-top: $navbarh;
}
.logo {
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    @include breakpoint(sm, min) {
        font-size: 24px;
    }
    color: $primary;
    &:hover {
        cursor: pointer;
    }
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: inherit;
    display: none;
    @include breakpoint(sm, min) {
        font-size: 18px;
    }
    &:hover {
        cursor: pointer;
        border-bottom: 2px solid $primary-light;
    }
    @include breakpoint(sm, min) {
        display: inline;
    }
}

.btn {
    text-decoration: none;
    display: flex;
    align-items: top;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    color: $primary;
    outline: 2px solid $primary;
    font-weight: 700;
    transition: all ease-in-out 0.1s;
    &:hover {
        cursor: pointer;
        background-color: $primary;
        box-shadow: 2px 2px 6px $shadow;
        color: $text-alt;
    }
    &:active {
        background-color: $primary-light;
        box-shadow: none;
    }
    @include breakpoint(sm, min) {
        font-size: 18px;
    }
}

.hero-section {
    .img-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        z-index: -1;
        @include breakpoint(sm, min) {
            display: block;
            width: 150%;
        }
        @include breakpoint(md, min) {
            width: 125%;
        }
        @include breakpoint(lg, min) {
            width: 100%;
            top: -1rem;
        }
        @include breakpoint(xl, min) {
            top: -4rem;

        }
        @include breakpoint(xxl, min) {
            top: -8rem;
        }
    }
    .hero-content {
        display: flex;
        flex-direction: column;
        .title {
            .title-text {
                margin-top: 0;
                margin-bottom: 0;
                margin-right: auto;
                font-size: 36px;
                color: $text-alt;
                padding-top: 1rem;
                text-shadow: 3px 3px $text;
                @include breakpoint(sm, min) {
                    font-size: 48px;
                }
                @include breakpoint(lg, min) {
                    font-size: 62px;
                }
            }
            @include breakpoint(md, min) {
                padding-top: 3rem;
            }
        }
        .hero-background {
            margin-left: auto;
            .svg-orator {
                height: 20rem;
                @include breakpoint(sm, min) {
                    height: 25rem;
                }
                @include breakpoint(md, min) {
                    height: 30rem;
                }
            }
            
            
        }
    }
}


.featured-section {
    background-color: $primary;
    padding-top: 4rem;
    padding-bottom: 4rem;
    .featured-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .featured-header {
            color: $primary-dark;
        }
        .project-grid {
            display: grid;
            gap: 3rem;
            grid-template-rows: 1fr 1fr 1fr;
            @include breakpoint(md, min) {
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr 1fr;
            }
            
        }
    }
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(md, min) {
        align-items: flex-start;
    }
    .project {
        position: relative;
        display: flex;
        border-radius: 7px;
        .img-cover {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            width: 100%;
            height: 100%;
            border-radius: 7px;
            transition: background-color ease-in-out 0.2s;
            .img-desc {
                display: none;
            }
        }
        .project-img {
            width: 100%;
            height: 100%;
            border-radius: 7px;
        }
        &:hover {
            cursor: pointer;
            box-shadow: 2px 2px 6px $shadow;
        }
        &:hover .img-cover {
            background-color: $shadow-t;
        }
        &:hover .img-desc {
            display: flex;
        }
    }
    .project-title {
        color: $text-alt;
        text-shadow: 2px 2px $text;
        margin: 0 0.25rem 0.5rem 0.25rem;
    }
    
}


.margin-h {
    margin-left: 1rem;
    margin-right: 1rem;
    @include breakpoint(sm, min) {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    @include breakpoint(md, min) {
        margin-left: 10%;
        margin-right: 10%;
    }
    @include breakpoint(xl, min) {
        margin-left: 20%;
        margin-right: 20%;
    }
}

.margin-h-m {
    margin-left: 1rem;
    margin-right: 1rem;
    @include breakpoint(sm, min) {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

.padding-h {
    padding-left: 1rem;
    padding-right: 1rem;
    @include breakpoint(sm, min) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    @include breakpoint(md, min) {
        padding-left: 10%;
        padding-right: 10%;
    }
    @include breakpoint(xl, min) {
        padding-left: 20%;
        padding-right: 20%;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    .footer-top {
        min-height: 10rem;
        background-color: $primary;
    }
    .footer-bot {
        background-color: $primary-dark;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        @include breakpoint(sm, min) {
            flex-direction: row;
        }
        
        .footer-left {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            @include breakpoint(sm, min) {
                margin-right: auto;
            }
        }
        .footer-right {
            display: flex;
            align-items: center;
        }
    }
}

.about-section {
    background-color: $bg-dark;
    .about-content {
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .title {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .my-name {
                color: $bg;
                text-shadow: 2px 2px $primary;
            }
        }
        .body {
            display: flex;
            gap: 2rem;
            img {
                display: none;
                flex: 1;
                width: 100%;
                border: 3px solid $bg;
                border-radius: 7px;
                @include breakpoint(sm, min) {
                    display: inline;
                }
            }
            p {
                background-color: $bg;
                border-radius: 7px;
                padding: 0.25rem;
                margin: 0;
                flex: 2;
            }
        }
    }
    
}

.skills-section {
    min-height: 40rem;
}

.contact-section {
    
    background-color: $bg-dark;
    .contact-content {
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        @include breakpoint(md, min) {
            flex-direction: row;
        }
        .icons {
            display: flex;
            flex-direction: column;
            @include breakpoint(md, min) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }
            gap: 1rem;
            width: 100%;
            .icon-item {
                display: flex;
                gap: 1rem;
                padding: 1rem;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                border: 2px solid transparent;
                border-radius: 7px;
                transition: all ease-in-out 0.15s;
                &:hover {
                    cursor: pointer;
                    border: 2px solid $bg;
                    border-radius: 7px;
                    box-shadow: 2px 2px 6px $shadow;
                }
                &:hover i, &:hover p {
                    text-shadow: 1px 1px $shadow;

                }
            }
            i {
                font-size: 36px;
                color: $bg;
                transition: text-shadow ease-in-out 0.2s;
            }
            p {
                color: $bg;
                font-weight: 500;
                transition: text-shadow ease-in-out 0.2s;
            }
        }
    }
    
}

.nav-link-menu {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: $text;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    width: 100%;
    border-radius: 7px;
    border: 2px solid transparent;
    &:hover {
        border: 2px solid $primary;
        color: $primary;
    }
}

.hamburger {
    .sidemenu {
        position: absolute;
        top: $navbarh + 0.5rem;
        width: 60%;
        height: 90vh ;
        background-color: $bg;
        color: $text;
        transition: right ease-in-out 0.2s;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }
    i {
        &:hover {
            cursor: pointer;
        }
        font-size: 20px;
    }
    @include breakpoint(sm, min) {
        display: none;
    }
    
}

.nav-active {
    right: 0;
}
.nav-inactive {
    right: -100%;
}