$bg: white;
$bg-dark: rgb(207, 207, 207);
$text: black;
$text-light: gray;
$text-alt: white;
$primary: purple;
$primary-t: rgba(128, 0, 128, 0.7);
$primary-light: rgb(175, 4, 175);
$primary-light-t: rgba(175, 4, 175, 0.5);
$primary-dark: rgb(83, 1, 83);

$shadow: black;
$shadow-t: rgba(0, 0, 0, 0.5);